{% extends "base.html" %} {% block daniela %}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            <i class="fa fa-laptop"></i> Usuários Cadastrados</h3>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/atendimento/">Home</a>
            </li>
            <li>
                <i class="fa fa-laptop"></i>Usuários</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12 ">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th> 
                    <th>Data Nascimento</th>
                    <th>Telefone</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{usuario.nome }}</td>
                    <td>{{usuario.cpf}}</td>
                    <td>{{usuario.dt_nasc}}</td>
                    <td>{{usuario.tel}}</td>
                    <td>
                        <a href="/financeiro/usuarios/{{usuario.id}}">Ver</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        <tfoot>
            <td colspan="4" style="text-align: right;">
                <p> Foram encontrados {{usuarios | length}} cadastrados !</p>
            </td>
        </tfoot>
    </div>
</div>

{% endblock %}